@font-face {
  font-family: Alibaba-PuHuiTi;   //重命名字体名称
  src: url(./Alibaba-PuHuiTi-Regular.eot);
  src: local('☺'),
  url(./Alibaba-PuHuiTi-Regular.eot?#iefix) format('embedded-opentype'),
  url(./Alibaba-PuHuiTi-Regular.woff) format('woff'),
  url(./Alibaba-PuHuiTi-Regular.ttf) format('truetype'),
  url(./Alibaba-PuHuiTi-Regular.svg#webfontOTINA1xY) format('svg');
}